name: screenshare

services:
  server:
    container_name: simple-screenshare
    image: ghcr.io/kiralysanyi/simple-screenshare:latest # or :testing for more recent but untested versions
    network_mode: host # yes, i dont like it but needed because webrtc is allergic to nat
    restart: unless-stopped
    healthcheck:
      disable: false
    environment:
      - HOST_PASS_ENABLE=1 # optional
      - HOST_PASS=valamijelszo # optional
      - ANNOUNCED_IPS=127.0.0.1,192.168.1.165 # ips to announce for clients (should be accessable from all clients, or else you will get blank video)
      - HTTP_PORT=8888 # port of the http server
      - RTC_MIN_PORT=40000 #optional RTC min udp port default: 40000
      - RTC_MAX_PORT=40500 #optional RTC max udp port default: 40500
networks:
  servicenet:
   external: true