name: screenshare

services:
  server:
    container_name: simple-screenshare
    image: ghcr.io/kiralysanyi/simple-screenshare
    restart: always
    healthcheck:
      disable: false
    ports:
      - 9000:9000
    environment:
      - HOST_PASS_ENABLE=1
      - HOST_PASS="valamijelszo"
