.streamView {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.controls {
    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 1rem;
    transition: 200ms;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.controls .btn {
    padding: 10px;
    border-radius: 100%;
    background-color: transparent;
    transition: 200ms;
    display: flex;
    align-items: center;
    justify-items: center;
}

.controls .btn:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.hidden {
    opacity: 0;
}

.statsDisplay {
    position: fixed;
    z-index: 100;
    top: 16px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 80dvw;
    max-height: 80dvh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    overflow: auto;
}